$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__site_content: 80%;

$size__site_content_small: 100%;

$site__max_width: 1400px;

$medium-break-point: 1000px;
$small-break-point: 800px;
$extra-small-break-point: 600px
